$primary:#6c9286;


.container {
	background-color: #f7f7f7;
	color: #6c9286;
}

.card {
	background-color: #c3dfd6; 
	padding: 20px; 
	// margin-top: 20px; 
}

.card-header {
	background-color: #c3dfd6; 
	color: #6c9286; 
	padding: 10px; 
}

.form-label {
	font-weight: bold; 
	color: #6c9286;
}

.btn-primary {
	background-color: #c3dfd6; 
	color: #6c9286; 
	border: none; 
}

.btn-primary:hover {
	background-color: #0056b3; 
}


@import "node_modules/bootstrap/scss/bootstrap";
